<link rel="stylesheet" href="registration.component.css">
<body>
    

<div class="registration-container">
    <div class="form-header">
        <h2>Exam Login Form</h2>
        <p>Fill the Information Carefully.</p>
    </div>
    <form class="registration-form">
        <div class="form-group">
            <label for="username">Username Name</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        

        <button type="submit" class="Login-button">Login</button>
    </form>
    <div class="form-footer">
        <p>Don't have an account? <a href="/Registration">Register </a></p>
    </div>
</div>

</body>